<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutlinks</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("../views/bk.jpg");
            background-size: cover;
        }

        nav {
            background-color: rgb(3, 3, 28);
            z-index: 1000;
            position: fixed;
            width: 100%;
            height: 35px;
        }

        .bname {
            color: white;
            font-size: 23px;
            margin-left: 10px;
            font-family: cursive;
            font-weight: bold;
        }


        .fsection {
            padding-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 40vh 20vh 35vh;
            height: 90vh;
            grid-gap: 7px;


        }

        .para {
            grid-column: 1/4;

            font-size: 20px;
            font-weight: 900;
            margin-left: 30px;
            margin-right: 40px;
        }

        .para h1 {
            justify-content: center;
            font-family: monospace;
            font-size: 50px;
        }

        .pic {
            grid-column: 4/5;
            background-image: url("../views/v.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            margin-right: 50px;

        }

        .searchbox {

            grid-row: 2/3;
            grid-column: 2/4;
            margin: 0;
            color: white;
            text-align: center;
            z-index: 1000;
            padding-top: 20px;
            border-radius: 20px;
            background-color: rgb(3, 3, 28);
        }



        .sbox {
            width: 500px;
            border-radius: 5px;
            height: 25px;
            border: 0px;
        }

        .btn {
            margin-top: 5px;
            background-color: white;
            border-radius: 5px;
            border: none;
            height: 25px;
            width: 60px;
            border: 0px;
            cursor: pointer;
            font-weight: bolder;

        }

        .btnn {
            margin-top: 5px;
            background-color: white;
            border-radius: 5px;
            border: none;
            height: 25px;
            width: 80px;
            border: 0px;
            cursor: pointer;
            font-weight: bolder;
            visibility: hidden;
        }




        #keywords {
            color: red;
            margin-top: 15px;
        }

        #keywords a {
            font-size: 15px;
            font-weight: bold;
            color: orangered;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-decoration: none;

        }

        

        #keywords {
            font-size: 20px;
            font-weight: 500px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: orangered;
            text-decoration: none;

        }


        .extra {
            margin-top: -75px;
            grid-column: 1/-1;
            background-color: rgba(39, 39, 39, 0.5);
            text-align: center;
            vertical-align: middle;
            line-height: 50vh;
            font-family: serif;
            font-size: 40px;

        }

        @media screen and (max-width: 835px){
              .sbox{
                  width: 300px;
              }

              #keywords{
                  font-size: 15px;
              }

              #keywords a{
                  font-size: 12px;
              }
        }

        @media screen and (max-width: 420px){
              .sbox{
                  width: 180px;
              }

              #keywords{
                  font-size: 12px;
              }

              #keywords a{
                  font-size: 14px;
              }

              .searchbox{
                  height: 130px;
                  grid-column: 1/5;
                  margin: 5px;
              }

              .extra{
                  font-size: 30px;
              }

              .pic{
                  visibility: hidden;
              }

              .para{
                  width: 100%;
              }
              .fsection{
                  padding-top: 18px;
              }
              .para p{
                  margin-top: -30px;
              }
        }
    </style>
</head>

<body>
    <nav>
        <div class="bname">Kutlinks</div>
    </nav>
    <div class="fsection">
        <div class="para">
            <h1>Kutlinks</h1>
            <p>A Free URL shortener to create perfect URLs for your business. Kutlinks helps you shirk your looooooong
                links to short ones !</p>
        </div>
        <div class="pic"></div>

        <div class="searchbox">
            <form name="frm">
                <input type="url" class="sbox" id="search" placeholder="Paste your link here">
                <button type="button" id="bty" class="btn" onclick="sswap(); swapp(); swappp();">Kut it!</button>
            </form>
            <div id="keywords">

            </div>
            <button type="button" onclick="copyToClipboard('#keywords'); swap();" class="btnn" id="cpyy">Copy
                Link</button>

        </div>

        <div class="extra">Made with 💖 by <a href="https://mohitkr.000webhostapp.com/" target="_blank">Mohit</a></div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="app.js"></script>
<script src="main.js"></script>

</html>